{% extends 'base.html' %}

{% block title %}Мій профіль{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="container text-center">
        <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <p style="color: rgba(184, 187, 190, 0.766);">Last Seen: {{ current_user.last_seen }}</p>
            <img src="{{ url_for('static', filename='images/users/' + current_user.image_file) }}" alt="Photo" class="user_image">
            <h1>{{ current_user.username }}</h1>
            <p>{{ current_user.email }}</p>
            <p>{{ current_user.about_me }}</p>
            <br><hr><br><h2>Update Profile</h2><br>
            <form method="POST" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }} <br>
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }} <br>
                    {{ form.about_me.label(class="form-control-label") }}
                    {{ form.about_me(class="form-control form-control-lg") }} <br>
                    {{ form.picture.label(class="form-control-label") }}
                    {{ form.picture(class="form-control form-control-lg") }} <br><br>
                    {{ form.submit(class="btn btn-primary") }}
            </form><hr>
            <form action="{{ url_for('auth.change_password') }}" method="get">
                <input type="submit" class="btn btn-primary" value="Change Password">
            </form><br><br>
        </div>
        <div class="col">
        </div>
        </div>
    </div>
{% else %}
    <p>Доступ заборонено. Будь ласка, увійдіть в свій акаунт.</p>
{% endif %}
{% endblock %}
