{% extends 'base.html' %}

{% block title %}Список постів{% endblock %}

{% block content %}
<div class="posts-view">
    <h1 class="namesH">Список постів</h1><hr><br>
    <a href="{{ url_for('post_bp.create_post') }}" class="add-posts">Додати новий пост</a><br><br><hr><br>
    <ul>
        {% for post in posts %}
            <li>
                <img src="{{ url_for('static', filename='images/' + post.image) }}" alt="Post Image" class="post-image">
                <a href="{{ url_for('post_bp.view_post', id=post.id) }}">
                    {{ post.title }} - {{ post.type.value }} - {{ "Enabled" if post.enabled else "Disabled" }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
