{% extends 'base.html' %}

{% block title %}Зміна пароля{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            <form method="POST" class="password-form">
                <h1>Зміна пароля</h1><hr>
                {{ form.hidden_tag() }}
                {{ form.current_password.label(class="form-label") }}
                {{ form.current_password(class="form-control") }} <br>
                {% if form.current_password.errors %}
                    <ul class="errors">
                        {% for error in form.current_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.new_password.label(class="form-label") }}
                {{ form.new_password(class="form-control") }} <br>
                {% if form.new_password.errors %}
                    <ul class="errors">
                        {% for error in form.new_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.confirm_new_password.label(class="form-label") }}
                {{ form.confirm_new_password(class="form-control") }}
                {% if form.confirm_new_password.errors %}
                    <ul class="errors">
                        {% for error in form.confirm_new_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br><button type="submit" class="btn btn-primary">Change</button><hr>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
