{% extends 'base.html' %}

{% block title %}Резюме{% endblock %}

{% block content %}
    <div class="container">
        <div class="wrapper">
          <h2>Моє Резюме</h2>
          <p>Тут моє резюме зі всіма навичками</p>
        </div>
    </div>
      <table class="table_resume">
        <tr>
          <th>Компанія</th>
          <th>Досвід роботи</th>
          <th>Посада</th>
        </tr>
        <tr>
            <td>Немає</td>
            <td>Немає</td>
            <td>Немає</td>
        </tr>
      </table>
{% endblock %}