{% set navigation_items = {
    "Portfolio": url_for('portfolio'),
    "Skills": url_for('skills'),
    "Resume": url_for('resume'),
    "Login": url_for('login'),
    "Todo": url_for('todo'),
    "Feedback": url_for('feedback'),
    "Users": url_for('users'),
    "Info": url_for('info'),
} %}

<ul>
    {% for name, url in navigation_items.items() %}
        {% if name == "Login" %}
            {% if current_user.is_authenticated %}
                <li>
                    <span class="header_list"><a href="{{ url_for('account') }}">My Account</a></span>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('login') }}">Login</a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a href="{{ url }}">{{ name }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>