<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Vintoniak Vasyl{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/home">Main</a></li>
                <li><a href="/skils">Skills</a></li>
                <li><a href="/characteristic">Characteristic</a></li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2023 Vintoniak Vasyl
    </footer>
</body>
</html>