<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портфоліо</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Портфоліо{% endblock %}

    {% block content %}
        <section>
            <h2>Привіт, я Вінтоняк Василь!</h2>
            <p>Тут має бути текст про мене, але для цього вистачить цього</p>
            <img src="{{ url_for('static', filename='images/my_image.jpg') }}" alt="My Image">
        </section>
    {% endblock %}
</body>
</html>