<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навички</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Навички{% endblock %}

    {% block content %}
        <div class="container">
            <div class="wrapper">
              <h2>Мої навички</h2>
              <p>Тут відображені мої навички</p>
            </div>
        </div>
          <table>
            <tr>
              <th>Мова програмування</th>
              <th>Досвід роботи</th>
              <th>Ключові слова</th>
            </tr>
          </table>
    {% endblock %}
</body>
</html>