<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навички</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Навички{% endblock %}

    {% block content %}
        <div class="container">
            <div class="wrapper">
              <h2>Мої навички</h2>
              <p>Тут відображені мої навички</p>
            </div>
        </div>
        <ul>
            {% for skill in skills %}
                <li><a href="{{ url_for('display_skills', id=loop.index0) }}">{{ skill }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>